body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
}

.menu {
    width: 20%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
}

.menu ul {
    list-style: none; 
}

.menu li {
    padding: 10px 0; 
    margin: 15px 0; 
}

.menu a {
    text-decoration: none; 
    color: #000; 
    font-weight: bold; 
}

.menu a:hover {
    color: rgb(206, 182, 233); 
    background-color: transparent; 
}

.menu a.active{
    color: rgb(194, 141, 255); 
    background-color: transparent; 
}


.about-content {
    margin-left: 20%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    background-color: #f7f9fc; 
}

.about-text, .info-cards {
    width: 50%;
    padding: 20px;
}


.info-card {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.card {
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    display: flex;
    align-items: center;
}

.card .icon {
    margin-right: 10px; 
}

.card .title {
    font-weight: bold;
}

.card .value {
    margin-left: auto;
}