body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
}

.menu-bar {
    width: 20%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
}

.menu {
    width: 100%;
}

.menu ul {
    list-style: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.menu li {
    padding: 10px 0;
    margin: 15px 0;
}

.menu a {
    text-decoration: none;
    color: #000; 
    font-weight: bold;
}

.menu a:hover {
    color: rgb(206, 182, 233); 
    background-color: transparent; 
}

.menu a.active {
    color: rgb(194, 141, 255); 
    background-color: transparent; 
}

.profile-pic {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 0;
    margin-bottom: 50px;
}

.profile-pic img {
    max-width: 70%;
    height: auto;
}

.activity-content {
    margin-left: 20%;
    width: 80%;
    padding: 20px;
    background-color: #f7f9fc;
}

.resume-wrap {
    border-bottom: 1px solid #ccc;
    padding: 20px;
}

.icon {
    font-size: 20px;
}

.text {
    margin-left: 10px;
}

.date {
    font-weight: bold;
    color: #666;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    .menu-bar {
        width: 100%;
        position: relative;
    }

    .menu ul {
        flex-direction: row;
        justify-content: space-around;
    }

    .menu li {
        padding: 5px 10px;
    }

    .activity-content {
        margin-left: 0;
        width: 100%;
        padding: 10px;
    }

    .resume-wrap {
        flex-direction: column;
    }

    .profile-pic {
        display: none; 
    }

    .toggle-container {
        display: none !important;
    }
}

.dark-mode .activity-content {
    background-color: #2e2e2e;
}
