body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f9fc;
}

.container, .content {
    display: flex;
    width: 100%; 
    min-height: 100%;
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.text {
    animation: fadeIn 2s ease-in-out;
}


@media screen and (max-width: 768px) {
    .content {
        padding: 10px;
        height: 80vh;           
    }
}

.dark-mode body, html {
    background-color: #2e2e2e;
}
