body, html {
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    overflow: hidden;
}

.container {
    width: 60%;
    height: 100%;
    margin: auto;
    padding: 20px;
    display: flex; 
    justify-content: center;  
    align-items: center; 
}

.home-button {
    position: absolute; 
    top: 20px;
    left: 20px; 
    z-index: 1000; 
}

.home-button a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4CAF50; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); 
}

.description {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.description h2 {
    color: #333;
}

.description p {
    margin-top: 0;
}

.description ul {
    list-style-type: none;
    padding: 0;
}

.description li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.description li:last-child {
    border-bottom: none;
}

.description li ul li {
    font-size: 0.95em;
    color: #555;
}

.dark-mode .body, html{
    background-color: #2e2e2e;
}

.dark-mode, .dark-mode .description {
    background-color: #1c1c1c;
    color: #c2c2c2;
}

.dark-mode h2 {
    color: #ffffff;
}

body.dark-mode .container .description ul li {
    color: rgba(229, 229, 229, 0.9);
}
